/* styles for this sample only */
*{ margin: 0; padding: 0; }
body { /* height: 3200px; */ font-size: 16px; font-family: 'Arial', sans-serif; background: #ffffff; color: #0; text-align: center;}
/*.header { text-align: center; }
.header a { padding: 30px 0 0; display: block; font-size: 48px; text-decoration: none; color: #555; }
.header p { margin: 10px 0 40px 0; font-size: 18px; }*/
.container { max-width: 1200px; margin: 0 auto; }
@media only screen and (max-width : 1000px) {
	.stellarnav > ul > li > a { padding: 20px 23px; }
}
p {padding: 15px 0px; }

.stellarnav { font-size: 20px; font-family: 'Impact' }
/* styles for this sample only */
